{% load static %}
<!DOCTYPE html>
<html lang="en-us">
<head>
    <title>COOPER | {% block title %}A Damn Fine RSS Reader{% endblock %}</title>
    <link href="{% static 'css/styles.min.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'css/font-awesome.min.css' %}" rel="stylesheet" type="text/css" />
    <link href='http://fonts.googleapis.com/css?family=Lato:300|Alegreya:400italic,400,700,900' rel='stylesheet' type='text/css'>
</head>
<body>
    <nav class="navbar navbar-default navbar-static-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="{% url 'index' %}" class="navbar-brand"><i class="fa fa-coffee"></i> cooper</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

                <div class="nav navbar-nav navbar-right">
                    {% if user.is_authenticated %}
                    <a href="#" class="btn btn-default navbar-btn disabled"><i class="fa fa-gears"></i></a>
                    <a href="{% url 'logout' %}" class="btn btn-default navbar-btn">Log out</a>
                    {% else %}
                    <a href="{% url 'login' %}" class="btn btn-default navbar-btn">Log in</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </nav>
    <div class="container">

        {% block content %}{% endblock %}

        <hr />

        <footer style="margin: 25px 0">
            <p>From <a href="http://pab.io">pab.io</a> with <span class="text-danger"><i class="fa fa-heart"></i></span>.</p>
        </footer>

    </div>

    <!-- Javascripts -->
    {% block javascripts %}{% endblock %}
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/scripts.min.js' %}"></script>
</body>
</html>
