{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="jumbotron">
    <div class="row">
        <div class="col-md-6">
            <h1 class="brand"><i class="fa fa-coffee"></i> cooper</h1>
            <p>A Damn Fine RSS Reader.</p>
        </div>
        <div class="col-md-6">
            <h2>Sign up!</h2>
            {% if error %}
            <p class="alert alert-warning">{{ error }}</p>
            {% endif %}
            <form method="post">
                {% csrf_token %}
                <div class="form-group">
                    <label class="control-label">Username</label>
                    <input class="form-control input-lg" name="username" 
                        type="text" placeholder="Username" required/>
                </div>
                <div class="form-group">
                    <label class="control-label">Email</label>
                    <input class="form-control input-lg" name="email" 
                        type="email" placeholder="Email" required/>
                </div>
                <div class="form-group">
                    <label class="control-label">Password</label>
                    <input class="form-control input-lg" name="password" 
                        type="password" placeholder="Password" required/>
                </div>
                
                <p>
                    <input type="submit" class="btn btn-lg btn-primary" value="Sign up"/>
                    Already have an account? <a href="{% url 'login' %}">Log in here.</a>
                </p>

            </form>
        </div>
    </div>
</div>

<!-- marketing>
<div class="row" style="font-size: 1.2em; font-weight: 300">
    <div class="col-md-4">
        <img src={% static 'img/x.jpg' %} class="img-circle img-responsive" style="margin: auto"/>
        <h2 class="text-center">Cool!</h2>
        <p>
            Gone fishing. The lonesome foghorn blows. Oh, dear. Lucy, this is 
            Pete Martell. Lucy, put Harry on the horn. Sheriff, it's Pete 
            Martell up at the mill. 
        </p>
    </div>
    <div class="col-md-4">
        <img src={% static 'img/x.jpg' %} class="img-circle img-responsive" style="margin: auto"/>
        <h2 class="text-center">Awesome!</h2>
        <p>
            I'm going to transfer it to the phone on the
            table by the red chair. The red chair against the wall. The little 
            table with the lamp on it, the lamp we moved from the corner. 
        </p>
    </div>
    <div class="col-md-4">
        <img src={% static 'img/x.jpg' %} class="img-circle img-responsive" style="margin: auto"/>
        <h2 class="text-center">Da Bomb!</h2>
        <p>
            The 
            black phone, not the brown phone. Morning, Pete. Harry. She's dead. 
            Wrapped in plastic. Hold on a second, Pete. Where? You stay right 
            there. I'm on my way.
        </p>
    </div>
</div>-->

{% endblock %}
