{% extends "base.html" %}

{% block content %}

<div class="jumbotron">
    <div class="row">
        <div class="col-md-6">
            <h1>Welcome back!</h1>
            <p>Your feeds are waiting.</p>
        </div>
        <div class="col-md-6">
            <h2>Log in</h2>
            {% if error %}
            <p class="alert alert-warning">{{ error }}</p>
            {% endif %}
            <form method="post">
                {% csrf_token %}
                <div class="form-group">
                    <label class="control-label">Username</label>
                    <input class="form-control input-lg" name="username" type="text" placeholder="Username" required/>
                </div>
                <div class="form-group">
                    <label class="control-label">Password</label>
                    <input class="form-control input-lg" name="password" type="password" placeholder="Password" required/>
                </div>
                <p>
                    <input type="submit" class="btn btn-lg btn-primary" value="Log in"/>
                    New? <a href="{% url 'index' %}">Sign up here.</a>
                </p>
                
            </form>
        </div>
    </div>
</div>

{% endblock %}
