{% extends "base.html" %}

{% block title %}{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-3">
            {% block sidebar %}{% endblock %}
        </div>
        <div class="col-md-6">
            {% block main %}{% endblock %}
        </div>
    </div>
    {% block modals %}{% endblock %}
{% endblock %}
