$font-family-sans-serif:  "Lato", Helvetica, Arial, sans-serif !default;
$font-family-serif:  "Alegreya", serif !default;


//== Colors
//
//## Gray and brand colors for use across Bootstrap.

$gray-darker:            lighten(#000, 13.5%) !default; // #222
$gray-dark:              lighten(#000, 20%) !default;   // #333
$gray:                   lighten(#000, 33.5%) !default; // #555
$gray-light:             lighten(#000, 60%) !default;   // #999
$gray-lighter:           lighten(#000, 93.5%) !default; // #eee

//$brand-primary:         #533811 !default;
//$brand-primary:         #734d12 !default;
$brand-secondary:       #428bca !default;
$brand-success:         #5cb85c !default;
$brand-info:            #5bc0de !default;
$brand-warning:         #f0ad4e !default;
$brand-danger:          #d9534f !default;
$brand-primary:         $brand-danger !default;

//** Global textual link color.
$link-color:            $brand-primary !default;
//** Link hover color set via `darken()` function.
$link-hover-color:      darken($link-color, 15%) !default;

//change border radius sizes
// $border-radius-base:        4px !default;
// $border-radius-large:       6px !default;
// $border-radius-small:       3px !default;

//** Border color for inputs on focus
//$input-border-focus:             #66afe9 !default;
//$input-border-focus:             $brand-success !default;
