{% extends "base.html" %}

{% block content %}

<div class="jumbotron">
    <div class="row">
        <div class="col-md-6">
            <h1>Adding a new feed</h1>
            <p>Just paste the url to the RSS or ATOM feed into the box. It's that simple.</p>
        </div>
        <div class="col-md-6">
            <h2>Add feed</h2>
            {% if error %}
            <p class="alert alert-warning">{{ error }}</p>
            {% endif %}
            <form method="post">
                {% csrf_token %}
                <div class="form-group">
                    <label class="control-label">Feed url</label>
                    <input class="form-control input-lg" name="feed_url" type="text" placeholder="http://example.com/rss/" required/>
                </div>
                <p>
                    <input type="submit" class="btn btn-lg btn-primary" value="Add feed"/>
                </p>
            </form>
        </div>
    </div>
</div>

{% endblock %}
