{% extends "base.html" %}

{% block title %}
    {{ article.title }}
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-offset-2 col-md-8 col-sm-offset-1 col-sm-10">
            <article>
                <h1>
                    <a href="{{ article.url }}">{{ article.title }}</a>
                </h1>
                <p class="text-muted">
                    {{ article.date }} by {{ article.author }}
                </p>
                <div>{{ article.body }}</div>
            </article>
            <hr />
            <a href="{% url 'feeds' %}" class="btn btn-block btn-default btn-lg">Back</a>
        </div>
    </div>

{% endblock %}
