{% extends "sidebar.html" %}

{% load static %}

{% block title %}
    Feeds
{% endblock %}

{% block sidebar %}

    <h2>
        <i class="fa fa-rss"></i> Feeds
        <div class="pull-right">
            <button class="btn btn-default" disabled="disabled">
                <i class="fa fa-pencil"></i>
            </button>
            <a href="{% url 'add_feed' %}" class="btn btn-default">
                <i class="fa fa-plus"></i>
            </a>
        </div>
    </h2>
    <hr/>
    <ul class="nav nav-pills nav-stacked">
        <li class="active"><a href="{% url 'feeds' %}">
            <i class="fa fa-circle-o"></i> All
            <span class="badge pull-right">9</span>
        </a></li>
        <hr />
        {% for feed in feeds %}
        <li><a href="{% url 'feed' feed.id %}">{{ feed.title }} <span class="badge pull-right">{{ feed.articles|length }}</span></a></li>
        {% empty %}
        <p>no feeds!</p>
        {% endfor %}
    </ul>

{% endblock %}

{% block main %}
    {% if error %}
        <p class="alert alert-warning">Womp! There was an error loading your feeds! Sorry about that...</p>
    {% else %}
        {% for feed in feeds %}
            <h1>{{ feed.title }}</h1>

            {% for article in feed.articles %}
            <h2>
                <a href="#" data-toggle="modal" data-target="#{{ article.id }}">{{ article.title }}</a>
            </h2>
            <p>
                <i class="fa fa-calendar"></i> {{ article.date }}
                by <em>{{ article.author }}</em>
            </p>
            <p>
                {{ article.summary }}
            </p>
            {% endfor %}
        <hr />
        {% empty %}
        <div class="jumbotron">
            <h1>You don't have any feeds yet!</h1>
            <p><a href="{% url 'add_feed' %}" class="btn btn-primary btn-lg">Get Started</a></p>
        </div>
        {% endfor %}
    {% endif %}
{% endblock %}

{% block modals %}
{% for feed in feeds %}
{% for article in feed.articles %}
<!-- Modal -->
<div class="modal fade" id="{{ article.id }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h1 class="modal-title" id="myModalLabel"><a href="{{ article.url }}">{{ article.title }}</a></h1>
            </div>
            <div class="modal-body">
                <article>
                    {{ article.body|safe }}
                </article>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>
{% endfor %}
{% endfor %}

{% endblock %}
