{% extends "sidebar.html" %}

{% block title %}
    Feeds
{% endblock %}

{% block sidebar %}

    <h2>
        <i class="fa fa-rss"></i> Feeds 
        <div class="pull-right">
            <button class="btn btn-default" disabled="disabled">
                <i class="fa fa-pencil"></i>
            </button>
            <a href="{% url 'add_feed' %}" class="btn btn-default">
                <i class="fa fa-plus"></i>
            </a>
        </div>
    </h2>
    <hr/>
    <ul class="nav nav-pills nav-stacked">
        <li><a href="{% url 'feeds' %}">
            <i class="fa fa-circle-o"></i> All
            <span class="badge pull-right">9</span>
        </a></li>
        <hr />
        {% for each in feeds %}
            {% if each.title == feed.title %}
            <li class="active">
            {% else %}
            <li>
            {% endif %}
                <a href="{% url 'feed' each.id %}">
                    {{ each.title }} <span class="badge pull-right">{{ each.articles|length }}</span>
                </a>
            </li>
        {% empty %}
        <p>no feeds!</p>
        {% endfor %}
    </ul>

{% endblock %}

{% block main %}

    <h1>{{ feed.title }}</h1>

    {% for article in feed.articles %}
    <h2>
        <a href="{{ article.url }}">{{ article.title }}</a></h2>
    <p>
        <i class="fa fa-calendar"></i> {{ article.date }}
        by <em>{{ article.author }}</em>
    </p>
    <p>
        {{ article.body|safe }}
    </p>
    {% empty %}
    <div class="jumbotron">
        <h1>You don't have any feeds yet!</h1>
        <a href="{% url 'add_feed' %}" class="btn btn-primary btn-lg">Get Started</a>
    </div>
    {% endfor %}


{% endblock %}
